body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul{
  padding: 0px !important;
  margin: 0px !important;
  list-style: none;
}
.container{
 max-width: 1200px;
 width: 100%;
 margin: 0px auto;
}
.flex-concept{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header-section p{
  margin: 0px;
}
.shortlist{
  display: flex;
  align-items: center;
}
.location-list select{
  border: none;
  background-color:#fddbd27d;
}
.free-post{
  border: 2px solid;
  padding: 3px 5px;
  border-radius: 20px;
  border-color: orangered;
}
.free-post .free-name{
   padding: 0px 7px;
   background-color:orangered;
   border-radius: 20px;
   color: white;
}
.free-view{
  background-color: orangered;
    border-radius: 14px;
    padding: 0px 7px;
}
.menu-tab-view{
  display: none;
}
.person-logo{
  font-size: 40px;
  color: orangered;
}
.person-content{
  color: orangered;
}
.personimg{
  border: 2px solid black;
    border-radius: 23px;
}
.login-btn{
  border: 1px solid orangered;
  padding: 5px 10px;
  background-color: orangered;
  color: white;
}
.login{
  border-right: 1px solid white;
}
.login p{
  padding: 0px 8px 0px 0px;
}
.location-logo{
  font-size: 20px;
}
.header-section{
  border-bottom: 1px solid orange;
  background-color: #fddbd27d;
  cursor: pointer;
}
.page-types{
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-types li{
  margin: 10px 15px;
  padding: 5px;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
}
.page-types .active{
  border-top: 2px solid orangered;
  color: orangered;
}
.page-types span{
  margin: 0px 10px;
}
.navlist{
  background-color: #fddbd27d;
}
.tm-nav{
  display: none;
}
.menu-bar{
  display: none;
}
.tm-nav2{
  display: none;
}
.house{
  width: 100%;
  height: 400px;
  background: url('image/home.jpeg');
  overflow: hidden;
  background-size: cover;
  position: relative;
}
.house-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#fddbd27d;
}
.house-image{
  background-color:#fddbd27d;
  position: relative;
}
.enquiry-list{
  position: absolute;
  top: 16%;
  left: 33%;
}
.house-details{
  position: absolute;
  top: 50%;
  left: 20%;
}
.type-list{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.type-list li{
  margin: 0px 13px;
    font-size: 21px;
    font-weight: 600;
    padding: 5px 30px;
    background-color: white;
    border-radius: 4px;
}
.type-list li:hover{
  background-color: orangered;
  color: white;
  cursor: pointer;
}
.dreamhouse{
  color: orangered;
}
.b-name h1{
  font-weight: 700;
}
.inform-type-list{
  display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 10px;
}
.inform-collect-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inform-collect-list li{
  border: 1px solid orangered;
  padding: 9px 22px;
   margin: 0px 8px;
   border-radius: 4px;
}
.house-information{
  padding: 13px 16px;
  cursor: pointer;
}
.inform-collect-list span{
  margin: 0px 0px 0px 30px;
}
.inform-collect-list li:nth-child(5){
  background-color: orangered;
  color: white;
  border-radius: 4px;
}
.properties .container{
  max-width: 580px;
  width: 100%;
  margin: 0px auto;
}

.reviews-star{
  display: flex;
  align-items: center;
}
.reviews-star{
  color: #ffba00;
}

.place-info{
  padding: 30px 10px 0px 10px;
}
.place-info p{
  margin: 3px 0px;
}
.place-images div{
  cursor: pointer;
}
.details:hover{
  border: 1px solid orangered;
}
.select-boxes{
  display: flex;
  align-items: center;
}
.box{
  margin: 0px 10px;
  padding: 12px;
  background-color: white;
}
.select-boxes .box:nth-child(1) .img-fluid{
   width: 22%;
}
.select-boxes .box:nth-child(2) .img-fluid{
  width: 22%;
}
.select-boxes .box:nth-child(3) .img-fluid{
  width: 17%;
}
.select-boxes .box:nth-child(4) .img-fluid{
  width: 19%;
}
.selection{
  background-color:#fddbd27d;
}
.read p{
  border-bottom: 2px solid gray;
  color: gray;
  cursor: pointer;
}
.box-content p{
  color: gray;
}
.house-logo .img-fluid{
  width: 100%;
}
.house-pic {
  border: 2px solid orangered;
  margin: 0px 25px;
}
.latest-house{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.house-price h3{
  font-size: 21px;
}
.latest {
  margin: 40px 0px;
}

.house-info{
    color:black;
    padding: 15px 10px 0px 10px;
    cursor: pointer;
    font-size: 13px;
    margin: 0px;
}
.house-logo{
  position: relative;
}
.house-logo .img-fluid{
  height: 168px;
  object-fit: cover;
}
.house-detail{
  font-size: 13px;
  margin: 3px 0px;
}

.img-details{
  position: absolute;
    top: 11px;
    border: 1px solid orangered;
    color: white;
    left: 12px;
    padding: 3px 6px;
    border-radius: 5px;
}
.img-details h4{
  margin: 0px;
  font-weight: 400;
  font-size: 15px;
}
.img-details:hover{
  background-color: orangered;
  cursor: pointer;
}
.house-location{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  font-size: 14px;

}
.house-info:hover{
  background-color: orangered;
  color: white;
}

.heart-pic{
  position: absolute;
  top: 8px;
  right: 6px;
  color: white;
}
.hear-color{
  color: orangered;
}
.likes{
  position: absolute;
  top: 135px;
  left: 10px;
  color: white;
}
.house-information{
  padding: 0px 16px;
}
.list-button button{
  background-color: orangered;
  padding: 5px 20px;
  border: none;
  cursor: pointer;
}
.information-collect{
  padding: 0px 0px 12px 0px;
}
.explore-img-list{
  width: 300px;
  text-align: center;
  border: 1px solid orangered;
  padding: 17px;
  border-radius: 7px;
}
.explore{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}
.explore-img-list img{
  border-radius: 10px;
}
.explore-content h3{
  font-size: 19px;
  font-weight: 700;
  margin: 10px 0px;
}
.explore-content p{
  font-size: 12px;
}
.explore h6{
  color: orangered;
}
.explore-img-list:hover{
  background-color: orangered;
  color: white;

}
.explore-img-list:hover .explore-content h6{
  color: white !important;
}
.explore-img-list:hover .follower{
  color: white !important;
}

.free-house{
  max-width: 380px;
  width: 100%;
  position: relative;
  color: white;
  margin: 15px 0px;
}
.free-name{
  position: absolute;
  top: 175px;
  display: flex;
  left: 20px;
}
.feature-count{
  display: flex;
  position: absolute;
  top: 212px;
  left: 20px;
}
.description-list{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.description-date{
  display: flex;
  justify-content: space-between;
}
.description-info p{
  font-size: 10px;
}
.description{
  padding: 40px 50px;
}
.articles-description{
  background-color:#fddbd27d;
}
.client-speech{
  display: flex;
  align-items: center;
}
.client-list{
  padding: 10px 20px;
}
.client-stars{
    color: #ffba00;
}
.plan-list{
  display: flex;
  align-items: center;
  color:rgb(42 42 110);
  justify-content: space-evenly;
  cursor: pointer;
  padding: 40px;
}
 .free:hover{
  background-color: orangered;
  color: white;
  border-radius: 10px;

}
.plan-list li{
  margin: 30px 0px;
}
.plan-type h5{
  font-weight: 700;
}
.non{
  color:rgba(42, 42, 110, 0.303);
}
.free:hover .choose-btn{
  text-align: center;
}
.free{
  padding: 20px;
}

.choose-btn button{
  padding: 5px 50px;
  border-radius: 10px;
  margin: 10PX 0PX;
  background-color: #fddbd27d;
  color: orangered;
  border: none;
}
.choose-btn2{
  display: none;
}
.choose-btn-try button{
  padding: 5px 50px;
  border-radius: 10px;
  margin: 10PX 0PX;
  background-color: black;
  color: white;
  border: none;
}
.choose-btn-try{
  text-align: center;
}
.choose-btn-try2{
  display: none;
}
.client-read p{
  color: orangered;
  cursor: pointer;
}
.background-view{
  background-image: url('./image//contact-bg.jpeg');
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}
.upper-apply{
  position: absolute;
  top:0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color:#0a0a0a7d;
}
.contact-view{
  position: absolute;
  top: 30px;
  left: 28%;
}
.customer-details{
  position: absolute;
  top: 30%;
  left: 26%;
}
.location-select select{
  padding: 7px 57px;
  margin: 20px 0px;
  background: #ffffff69;
  border: 1px solid white;
}
.name input{
  padding: 7px 30px;
  margin: 20px 0px;
  background: #ffffff69;
  border: 1px solid white;
  color: white;
}

.contact-display {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.enquiry-msg textarea{
  background: #ffffff69;
  border: 1px solid white;
  margin: 20px 0px;
}
.contact-submit button{
  padding: 3px 20px;
  background-color: orangered;
  border: none;
  color: white;
}
.contact-submit{
  text-align: right;
}
.location-list2{
  display: none;
}
.bg-light2{
  display: none;
}

/* dmmdmd */


@media (max-width:1200px) {

  .container{
    max-width: 960px;
    width: 100%;
    margin: 0px auto;
  }
.enquiry-list{
  left: 29%;
}
.house-details{
  left: 7%;
}
.first-view{
  padding-top: 15px;
}
.place-pic{
  padding-top: 5px;

}
  .place-info{
    padding-top: 0px;
  }
  .img-one{
    height: 173px !important;
    object-fit: cover;
}
.house-price h3{
  font-size: 16px;
}
.house-location{
  font-size: 11px;
}
.likes{
  top: 133px;
}
.feature-img{
  height: 197px !important;
}
.tb-view{
  margin-bottom: 0px !important;
}
.free-name{
  top: 150px;
}
.feature-count{
  top: 175px;
}
.feature-img2{
  height: 195px !important;
}
.tb-feature{
  margin-top: 20px;
}
.tb-btn button{
  margin: 20px 0px 0px 0px !important;
}
.contact-view{
  left: 20%;
}
.customer-details{
  left: 18%;
}
.area h4{
  font-size: 17px;
}
.tb-colving .img-fluid{
  height: 208px;
}

  }

  @media (max-width:1000px) {
    .conatiner{
      max-width: 840px;
      width: 100%;
      margin: 0px auto;;
    }
    .enquiry-list{
      left: 26%;
    }
    .house-details{
      left: 3%;
    } 
    .tb-colving .img-fluid{
      height: 208px;
    }
  }

  @media (max-width:980px) {

    .conatiner{
      max-width: 720px;
      width: 100%;
      margin: 0px auto;
    }
    .header-section p{
      font-size: 10px;
    }
    .house-information{
      padding: 6px 16px;
    }
    .inform-collect-list li{
      padding: 7px 12px;
    }
    .inform-collect-list span{
      margin: 0px;
    }
    .house-details{
      left: 12%;
    }
    .page-types li{
      margin: 10px;
    }
    .place-info{
      font-size: 10px;
    }
    .area h4{
      font-size: 15px;
    }
    .img-one{
      height: 163px !important;
      object-fit: cover;
    }
   .house-pic h3{
    margin: 0px;
   }
   .heart-pic p{
    margin: 0px;
   }
   .tb-flat .img-fluid{
    height: 195px !important;
   }
  }

  @media (max-width:767px) {

    .select-boxes{
      display: block;
    }
    .explore{
      margin: 0px 0px 0px 108px;
      display: block;
    }
    .explore-img-list{
      margin-bottom: 30px;
    }
    .latest-house{
      margin-bottom: 30px;
    }
    .image-visit{
      margin: 0px 0px 0px 85px;
    }
    .feature-img2{
      height: 207px !important;
    }
    .feature-img{
      height: 248px !important;
    }
    .tb-flat .img-fluid{
      height: 231px !important;
      margin: 0px 0px 10px 0px;
    }
    .client-speech{
      display: block;
    }
    .description-list{
      display: block;
    }
    .area h4{
      font-size: 26px;
    }
    .area-address p{
      font-size: 16px;
    }
    .reviews-star{
      font-size: 20px;
    }
    .plan-list{
      display: block;
      text-align: center;
    }
    .contact-name h2{
      font-size: 20px;

    }
    .contact-info p{
         font-size: 12px;
    }
    .contact-view{
      left: 3%;
    }
    .customer-details{
      left: -2px;
    }
    .contact-display{
      justify-content: space-around;
    }
    .location-select select{
      padding: 7px 30px;
    }
    .name input{
      padding: 7px;

    }
    .tb-header-sec{
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
 .location{
  display: none;
 }
 .location-list2{
  display: block;
}
.bg-light2{
  display: block;
}
.header-section{
  position: relative;
}
.page-types li {
  margin: -1px;
  padding: 10px 5px;
}
.inform-collect-list{
  display: block;
}
.inform-collect-list li{
  margin: 20px 0px;
}
.inform-collect-list li:nth-child(5) span{
  display: none;
}
.inform-collect-list li:nth-child(5){
  text-align: center;
}
.inform-type-list{
  font-size: 13px;
}
.house-information{
  padding: 20px 10px;
  margin: 10px 0px;
}
.house-details{
  top: 32%;
}
.enquiry-list{
  left: 18%;
}
.container{
  max-width: 540px;
  width: 100%;
  margin: 0px auto;
}
.enquiry-msg textarea{
  max-width: 490px;
  width: 100%;
}
.details:hover {
  border: 1px solid orangered;
  margin: 5px 0px;
  background-color: orangered;
  color: white;
}

  }

  @media (max-width:680px) {
      .conatiner{
        max-width: 540px;
        width: 100%;
      }
      .tp-view{
        display: none;
      }
      .inform-collect-list{
        display: flex;
      }
      .type-list li{
        margin: 0px -1px;
        font-size: 15px;
        font-weight: 600;
        padding: 5px 14px;
      }
      .house-information{
        padding: 5px;
      }
.inform-collect-list li {
    margin: 0px 6px;
}
.inform-collect-list li {
    padding: 3px 4px;
    font-size: 13px;

}
.inform-type-list li{
  font-size: 10px;
}
.b-name h1{
  font-size: 25px;
}
.house-details{
  top: 48%;
  left: 17%;
}
.enquiry-list{
  left: 23%;
  top: 28%;
}

  }


  @media (max-width:570px) {
  .container{
    max-width: 420px;
    width: 100%;
    margin: 0px auto;
  }
    .house-details{
      top: 48%;
      left: 9%;
    }
    .enquiry-list{
      left: 20%;
      top: 28%;
    }
    .explore{
      margin: 0px 0px 0px 52px;
    }
    .image-visit{
      margin: 0px 0px 0px 8px;
    }
    .enquiry-msg textarea{
      max-width: 370px;
      width: 100%;
    }
    .location-select select{
      padding: 7px 0px;
    }
    .name input{
      padding: 7px 0px;
    }
    .contact-submit{
      text-align: center !important;
    }

  }


  @media (max-width:470px) {
    .container{
      max-width: 350px !important;
      width: 100%;
      margin: 0px auto;
    }
    .house-details{
      top: 48%;
      left: 5%;
    }
    .enquiry-list{
      left: 15%;
      top: 28%;
    }
    .inform-collect-list li{
      padding: 4px 1px;
      margin: 0px 3px;
 }
    .inform-collect-list span{
      font-size: 10px;
    }
    .house-information{
      padding: 8px;
    }
    .explore{
      margin: 0px 0px 0px 51px;
    }
    .image-visit{
      margin: 0px 0px 0px 10px;
    }
    .contact-submit{
      text-align: center !important;
    }
  }

  @media (max-width:450px) {
    .conatiner{
      max-width: 320px !important;
      width: 100%;
      margin: 0px auto;
    }
    .inform-collect-list li{
      padding: 7px 2px;
      margin: 9px 2px;
      font-size: 10px;

    }
    .b-name h1{
      font-size: 20px;
    }
    .enquiry-list{
      top:20%;
    }
    .type-list li{
      font-size: 10px;
    }
    .login-btn{
      border: 1px solid orangered;
    padding: 2px 10px;
    background-color: orangered;
    color: white;
    border-radius: 17px;
    }
    .properties{
      font-size: 12px;
    }
    .area h4{
      font-size: 18px;
    }
    .area-address p{
      font-size: 11px;
    }
    .reviews-star{
      font-size: 10px;
    }
    .select-boxes{
      font-size: 12px;
    }
    .tm-nav2 ul{
        display: flex;
        font-size: 11px;
        justify-content: space-around;
        margin: 10px 0px;
        transition: all 0.5s ease-in-out;
  
    }
    .menu-bar{
      position: absolute;
      top: -54px;
      padding: 1px 4px;
      background-color: orangered;
      color: white;

    }
    .tm-nav{
      display: none;
      transition: all 0.5s ease-in-out;
    }
    .tm-nav2{
      display: block;
      padding: 13px 0px;
      background-color: white;
      transition: all 0.5s ease-in-out;
    }

   
    .enquiry-msg textarea{
      max-width: 325px;
      width: 100%;
    }
    .contact-submit{
      text-align: center !important;
    }
    .location-select{
      display: block;

    }
    .location-select select{
      display: block;
      padding: 7px 27px;
      margin-bottom: 0px;
    }
    .name{
      display: block;
    }
    .name input{
      margin-bottom: 0px;
    }
    .customer-details{
      top: 24%;
    }
  .image-visit{
    margin: 0px;
  }
  .tm-view{
    display: none;
  }
  .explore{
    margin:0px 0px 0px 8px !important;
  }
  .latest-house{
    display: block;
  }
  .house-pic{
    margin: 25px;
  }

  .menu-bar{
    display: block;
  }
  .tm-nav2 .active{
    color: orangered;
  }

 
  }